body {
  /* bence bunu 100 vh almam gerekecek */
  height: 100%;
  margin: 0;
}

.divs {
  height: 100vh;
  border: 1px solid red;
}
#header {
  height: 100vh;
  border: 1px solid blue;
}
/* .works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.filler {
  height: 5em;
  width: 100%;
  /* background-color: teal; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#laptopMerge {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
