body {
  /* bence bunu 100 vh almam gerekecek */
  height: 100%;
  margin: 0;
}

.divs {
  height: 100vh;
  border: 1px solid red;
}
#header {
  height: 100vh;
  border: 1px solid blue;
}
/* #work {
  height: 300px;
  width: 300px;
  border: 2px solid green;
} */
/* .images {
  height: 100vh;
} */
/* img {
  height: 60vh;
} */
