@font-face {
  font-family: "Connection";
  src: url("../fonts/ConnectionIi-2wj8.otf") format("opentype");
}
/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
} */
body {
  /* bence bunu 100 vh almam gerekecek */
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: "Connection", "Times New Roman", Times, serif;
}

.divs {
  height: 100vh;
}
#header {
  height: 100vh;
}
/* .works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .filler {
  height: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #44a08d; 
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); 
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); 
} */
.laptopMerge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobileWork {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filler {
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(64, 72, 75);
  color: white;
  margin-top: 2em;
}
.links {
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 2em; */
}
.decorate {
  text-decoration: none;
  color: black;
}
/* .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#workComponentStyle {
  width: 100vw;
}
