#workComponent {
  background-color: black;
}

/* .works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
} */
.rowFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.workImgContainer {
  height: 500px;
  width: 500px;
}
.workImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
/* .carousels {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.cardText {
  color: white !important;
  background-color: black;
}
.cards {
  color: white !important;
  background-color: black;
  margin: 2em;
}
.myCardBody {
  padding: 8em;
  background-color: black;
}
