#workComponent {
  background-color: black;
}

/* .works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
} */
.rowFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.workImgContainer {
  height: 50em;
  width: 50em%;
}
.workImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.carousels {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardText {
  color: white !important;
}
